[Unit]
Description=Lamp control service
After=local-fs.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/lise_control

[Install]
WantedBy=default.target
